<div class="raw">
    <div class="col-xs-10">
        <h2>All the Books</h2>
        <div class="list-group">
            <button class="list-group-item" *ngFor="let book of books; let i = index" (click)="onViewBook(i)">
                <h3 class="list-group-item-heading">
                    {{book.titre}}
                    <button class="btn btn-default pull-right" (click)="onDeleteBook(book)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </h3>
                <p class="list-group-item-text"> {{book.author}}</p>
            </button>
        </div>
        <button type="button" class="btn btn-primary" (click)="onCreateBook()">Create </button>
    </div>
</div>